/*Encabezado - header*/
.header{
display: grid;
grid-template-columns: 1fr 2fr 1fr;
align-items: center;
padding: 20px;
background-color: var( --background-dark);
min-height: 80px;
}
.header-izquierda{
    display: flex;
    justify-content: center;
}
.header-izquierda svg{
    margin: 0px 10px;
}

.logo-nombre{
    font-size: 22px;
    font-weight: 700;
}
nav{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--text-primary);
}

.navHover:hover{
   color: var(--primary-color); 
}
.container-sesion-derecha{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

@media(width <= 640px){
.header{
grid-template-columns: 1fr;
gap: 30px;
}
.container-sesion-derecha{
    margin-right: 0px;
}
.header-izquierda{
    margin-right: 30px;
}
}
.sesion-derecha-a{
    color: var(--primary-color); 
    padding: 10px;
    gap: 10px;
    background-color: #0a3d66;
    border-radius: 10px;
    font-weight: 600;
    margin: 0px 5px;
}
.sesion-derecha-a:hover{
    color: var(--text-primary);
}
.sesion{
    color: var(---text-primary);
    background-color: var(--background-dark-2);
    text-align: center;
}